body {
background-color: #fff; 


}

.primaryNav {
    background-color: rgb(12, 12, 105);
    
   }

nav.primaryNav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: all 0.7s ease-out;
    padding: 5px;
    text-transform: uppercase;


}
nav ul {
    text-align: center;  
}

nav ul li {
    display: inline-block;
    margin: 20px;
    padding: 5px;
    }

 
nav.primaryNav a:hover, nav.primaryNav a:focus {
    color: rgb(151, 245, 10);
    padding: 20px;
}


.hed {
    text-align: center;
}

.middle {
    text-align: center;  
}

section.cols {
    margin-bottom: 30px;
}

div.test {
   background-color: lightgrey;
   margin: 2px auto;
    
}

img.imageBanner {
    border-radius: 10%;
    width: 100%;
    height: 200px;
    margin-bottom: 30px; 
}

.imageDA {
    border-radius: 100%;
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
}


.hed {
    margin: 30px;
}

p.testimonials {
    color: purple;
}


/* For About page */

section.abt {
    background: rgb(43, 40, 40);
    border-radius: 5px;
    color: whitesmoke;
}

h1.aboutHeading{
    text-align: center;
    margin-bottom: 50px;
}

hr.divide {
   border: solid; 
}

h3.abtHead{
    text-align: center;
    color: whitesmoke;
}

p.abtText {
  padding: 5px;
}

ul.team {
    justify-content: center;
}


/* For Contact page */


button.btnContact {
    width: 40%;
}

.contact {
    margin-top: 50px;
    margin-left: 10px;
}

.button {
    margin-top: 20px;
    text-align: center;  
}

.button button {
    width: 15%;
    height: 50px;     
}

form {
    margin: auto 0;
 }


label.inputs {
    visibility: hidden;
}

label.checkText {
    visibility: inherit;
}

#inputText {
    width: 70%;
    height: 200px;
}

#inputEmail, #inputName {
    width: 70%;
}

.inputs {
border-radius: 15px;
}

#inputEmail::placeholder, #inputName::placeholder, #inputText::placeholder {
    color: whitesmoke;
}

#inputEmail, #inputName, #inputText {
    color: white;
    background: blue;
}

textarea {
    resize: none;
}

.cont {
   visibility: hidden;
}

footer nav {
    margin-top: 50px;
   }

nav.fut ul li a {
    color: darkblue;
    text-decoration: underline;
}

.aboutHeading {
    color: whitesmoke;
    width: 100%;
    height: 100%;
   
}

@media screen and (max-width: 480px) {
button.btnContact {background: black; font-size: 12px; width: 40%; text-align: center;}
label.inputs {visibility: hidden;}
label.form-check-label {visibility: inherit;}
nav.primaryNav ul li a {font-size: 13px; padding: 0px;  transition: none;}
button.button2 {margin-bottom: 10px;}

}
    

@media screen and (max-width: 1200px) {
    button.btnContact {background: grey; font-size: 12px; align-content: center;}
    label.inputs {visibility: hidden;}
    label.form-check-label {visibility: inherit;}
    nav.primaryNav ul li a {font-size: 13px; padding: 0px;  transition: none;}
    button.button2 {margin-bottom: 10px;}
}
    
    
