body {
background-color: #fff;    

}

.primaryNav {
    background-color: black;
}

nav ul {
    text-align: center;
    
}

nav ul li {
   
    display: inline-block;
    margin: 20px;
}

nav ul li a {
    
text-decoration: none;
    font-size: 1.2rem;
    color: white;
    
    
}

.primaryNav a:hover {
    color: orangered;
    text-transform: uppercase;
}


.hed {
    
    text-align: center;
}

.middle {
    text-align: center;
    
}

div.test {
   background-color: lightgrey;
   margin: 2px auto;
    
    
}

.imageAI {
    border-radius: 10%;
}

.imageDA {
    border-radius: 100%;
}

.imageBI {
    border-radius: 10%;
}

.hed {
    
    margin: 30px;
}


.contact {
    margin-top: 50px;
    margin-left: 10px;
}

.button {
    margin-top: 20px;
    text-align: center;
    
}

.button button {
    width: 15%;
    height: 50px;
    
    
}

form {

    margin: auto 0;
}

#inputText {
    width: 70%;
    height: 200px;
}

#inputEmail, #inputName {
    width: 70%;
}

.inputs {
border-radius: 15px;

}

input[type=text], input[type=email], input[type=password], textarea[type=text] {
    background-color: rgb(255, 255, 255);
    
    color: black;
}

textarea {
    resize: none;
}

.cont {
   visibility: hidden;
}

footer nav {
    
    background: #666;
    margin-top: 50px;
    
}


nav.fut ul li a {
    color: white;
    text-decoration: none;
}

.aboutHeading {
    color: white;
    background: orange;
    width: 100%;
    height: 100%;
}